/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tp: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // | TAB  |  Q   |  W   |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |  -  |
            // | ESC  |  A   |  S   |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '  |
            // | SHFT |  Z   |  X   |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |  \  |
            //                       |  1  | RET | SPC |   | BSPC| DEL  |  2  |

            bindings = <
&mt LA(LC(LG(LSHFT))) EQUAL  &kp Q  &kp W  &kp E              &kp R            &kp T        &kp Y      &kp U           &kp I       &kp O    &kp P      &kp MINUS
&mt LALT ESCAPE              &kp A  &kp S  &kp D              &kp F            &kp G        &kp H      &kp J           &kp K       &kp L    &kp SEMI   &mt LALT SQT
&kp LGUI                     &kp Z  &kp X  &kp C              &kp V            &kp B        &kp N      &kp M           &kp COMMA   &kp DOT  &kp SLASH  &kp LGUI
                                           &kp LA(LC(LSHFT))  &mt LSHFT SPACE  &lt 1 RET    &lt 2 TAB  &mt LCTRL BSPC  &kp DELETE
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |       |   1   |   2   |   3   |   4   |   5   |   |   6   |   7   |   8   |   9   |   0   |       |
            // |  F1   |  F2   |  F3   |  F4   |  F5   |  F6   |   |  F7   |  F8   |  F9   |  F10  |  F11  |  F12  |
            // | BTCLR |  BT1  |  BT2  |  BT3  |  BT4  |  BT5  |   |       |       |       |       |       |       |
            //                         |       |       |       |   |       |       |       |

            bindings = <
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &bt BT_SEL 1       &bt BT_SEL 2   &kp HOME             &kp UP_ARROW  &kp END     &kp PG_UP      &bt BT_CLR
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &kp PRINTSCREEN    &kp C_BRI_DEC  &kp LEFT             &kp DOWN      &kp RIGHT   &kp PAGE_DOWN  &mt LALT C_BRIGHTNESS_INC
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &bt BT_SEL 0       &kp C_VOL_DN   &kp C_MUTE           &kp C_VOL_UP  &kp C_PREV  &kp C_PP       &mt LGUI C_NEXT
                         &trans   &trans   &trans             &mt LSHFT TAB  &mt LCTRL BACKSPACE  &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  `  |  !  |  @  |  [  |  ]  |  ^  |    |  .  | HOME |  UP  |  END  |  *  |     |
            // |  ~  |  #  |  $  |  (  |  )  |  &  |    |  +  | LEFT | DOWN | RIGHT |  =  |     |
            // |  :  |  <  |  >  |  {  |  }  |  "  |    |  ,  | PGUP | PSCRN| PGDN  |  %  |     |
            //                   |     |  0  |     |    |     |      |      |

            bindings = <
&mt LA(LC(LG(LSHFT))) GRAVE  &kp EXCL  &kp HASH   &kp LBRC  &kp RBRC         &kp AMPS        &kp ASTERISK  &kp N7  &kp N8  &kp N9  &kp COMMA  &trans
&mt LALT TILDE               &kp DLLR  &kp AT     &kp LBKT  &kp RBKT         &kp PERCENT     &kp EQUAL     &kp N4  &kp N5  &kp N6  &kp DOT    &trans
&trans                       &kp LT    &kp CARET  &kp LPAR  &kp RPAR         &kp GT          &kp PLUS      &kp N1  &kp N2  &kp N3  &kp BSLH   &trans
                                                  &trans    &mt LSHFT SPACE  &mt LSHFT N0    &trans        &trans  &trans
            >;
        };
    };
};
