/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&led_strip { chain-length = <27>; };

/ {
    behaviors {
        tp: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // | TAB  |  Q   |  W   |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |  -  |
            // | ESC  |  A   |  S   |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '  |
            // | SHFT |  Z   |  X   |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |  \  |
            //                       |  1  | RET | SPC |   | BSPC| DEL  |  2  |

            bindings = <
&kp ESC    &kp Q       &kp Y           &kp O                 &kp U        &kp SEMI     &kp X      &kp L        &kp D                 &kp W           &kp Z       &kp BSPC
&kp B      &tp LCMD C  &tp LEFT_ALT I  &tp LSHFT E           &tp LCTRL A  &kp COMMA    &kp K      &tp LCTRL H  &tp LSHFT T           &tp LEFT_ALT N  &tp LCMD S  &kp V
&kp GRAVE  &kp APOS    &kp MINUS       &kp EQUAL             &kp DOT      &kp FSLH     &kp J      &kp M        &kp G                 &kp P           &kp F       &kp BSLH
                                       &kp LS(LC(LG(LALT)))  &kp SPACE    &lt 1 RET    &lt 2 TAB  &kp R        &kp LS(LC(LEFT_ALT))
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |       |   1   |   2   |   3   |   4   |   5   |   |   6   |   7   |   8   |   9   |   0   |       |
            // |  F1   |  F2   |  F3   |  F4   |  F5   |  F6   |   |  F7   |  F8   |  F9   |  F10  |  F11  |  F12  |
            // | BTCLR |  BT1  |  BT2  |  BT3  |  BT4  |  BT5  |   |       |       |       |       |       |       |
            //                         |       |       |       |   |       |       |       |

            bindings = <
&bt BT_SEL 0  &kp F1       &kp F2       &kp F3        &kp F4        &kp DELETE         &trans         &kp HOME              &kp UP_ARROW    &kp END         &kp PG_UP           &bt BT_CLR
&bt BT_SEL 1  &tp LGUI F5  &tp LALT F6  &tp LSHFT F7  &tp LCTRL F8  &kp PRINTSCREEN    &kp C_BRI_DEC  &tp LCTRL LEFT_ARROW  &tp LSHFT DOWN  &tp LALT RIGHT  &tp LGUI PAGE_DOWN  &tp LALT C_BRIGHTNESS_INC
&bt BT_SEL 2  &kp F9       &kp F10      &kp F11       &kp F12       &trans             &kp C_VOL_DN   &kp C_MUTE            &kp C_VOL_UP    &kp C_PREV      &kp C_PP            &tp LGUI C_NEXT
                                        &trans        &trans        &trans             &trans         &trans                &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  `  |  !  |  @  |  [  |  ]  |  ^  |    |  .  | HOME |  UP  |  END  |  *  |     |
            // |  ~  |  #  |  $  |  (  |  )  |  &  |    |  +  | LEFT | DOWN | RIGHT |  =  |     |
            // |  :  |  <  |  >  |  {  |  }  |  "  |    |  ,  | PGUP | PSCRN| PGDN  |  %  |     |
            //                   |     |  0  |     |    |     |      |      |

            bindings = <
&kp GRAVE  &kp EXCL         &kp HASH          &kp LBRC                &kp RBRC                 &kp AMPS       &kp ASTERISK  &kp N7        &kp N8        &kp N9       &kp COMMA    &kp FSLH
&kp TILDE  &tp LCMD DOLLAR  &tp LALT AT_SIGN  &tp LSHFT LEFT_BRACKET  &tp LCTRL RIGHT_BRACKET  &kp PERCENT    &kp EQUAL     &tp LCTRL N4  &tp LSHFT N5  &tp LALT N6  &tp LCMD N0  &kp MINUS
&kp PIPE   &kp LT           &kp CARET         &kp LPAR                &kp RPAR                 &kp GT         &kp PLUS      &kp N1        &kp N2        &kp N3       &kp DOT      &kp BSLH
                                              &trans                  &trans                   &trans         &trans        &trans        &trans
            >;
        };
    };
};
